#top {
    position: relative;
    margin-bottom:2em;
}
#content {
    margin-left:16em;
}

#left {
    position:absolute;
    float:left;
    width: 12em;
    min-height: 20em;
    margin-right: -100%;
}
