html {
    font-size:0.8em;
    background:#eee;
}

.headertext {
    font-size:1.6em;
    vertical-align: middle;
    padding:5px;
    
}

.bold {
    font-weight: bold;
}

#display .i{
    display: block;
    text-align: center;
    width:3em;
    border:0;
}

#display .np {
    padding:0;
}

img {
   
    border:0;
}

.ui-datatable input.ui-column-filter {
    width:90%;
}

div.ui-panel-titlebar{
    height:auto; 
}

.width5em {
    width:5em;
}