<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"

                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content">
        <p:panel header="Adăugare Delegație">
            <h:panelGrid id="pdfPanel" columns="2">
                <h:outputLabel for="delegatiiNr" value="Nr." />
                <p:inputText id="delegatiiNr" value="#{addDelegatiiBean.nr}" >
                </p:inputText>
                <h:outputLabel for="delegatiiData" value="Data" />
                <p:calendar value="#{addDelegatiiBean.data}" pattern="dd.MM.yyyy" id="delegatiiData" showOn="button" />
                <h:outputLabel for="delegatiiPersoana" value="Persoana" />
                <p:autoComplete id="delegatiiPersoana" dropdown="true" 
                                            var="persoana"
                                            itemLabel="#{persoana.nume}"
                                            itemValue="#{persoana}"
                                            converter="persoanaConverter"
                                            value="#{addDelegatiiBean.persoana}"
                                            completeMethod="#{persoanaAutocompleteBean.complete}"
                                            minQueryLength="2"
                                            queryDelay="1000"
                                            maxResults="10"
                                            />
                <h:outputLabel for="delegatiiLocatie" value="Destinația" />
                <p:autoComplete id="delegatiiLocatie" dropdown="true" 
                                            var="locatie"
                                            itemLabel="#{locatie.nume}"
                                            itemValue="#{locatie}"
                                            converter="locatiiConverter"
                                            value="#{addDelegatiiBean.locatie}"
                                            completeMethod="#{persoanaAutocompleteBean.complete}"
                                            minQueryLength="2"
                                            queryDelay="1000"
                                            maxResults="10"
                                            />
                <h:outputLabel for="delegatiiDeLa" value="De La" />
                <p:calendar value="#{addDelegatiiBean.deLa}" pattern="dd.MM.yyyy" id="delegatiiDeLa" showOn="button" />
                <h:outputLabel for="delegatiiPanaLa" value="Până La" />
                <p:calendar value="#{addDelegatiiBean.panaLa}" pattern="dd.MM.yyyy" id="delegatiiPanaLa" showOn="button" />
            </h:panelGrid>
        </p:panel>
    </ui:define>

</ui:composition>
