<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"

                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content">
        <p:panel header="Ștergere Delegații">
            <h:panelGrid id="pdfPanel" columns="2">
                <h:outputText value="De la Numărul (inclusiv): " />
                <p:inputText value="#{deleteDelegatiiBean.minNr}">
                </p:inputText>
                <h:outputText value="Până la Numărul (inclusiv): " />
                <p:inputText value="#{deleteDelegatiiBean.maxNr}" >
                </p:inputText>
                <p:commandButton update=":contentForm:delegatiiList" icon="ui-icon-closethick" action="#{deleteDelegatiiBean.delete}" value="Ștergere" style="margin:1em;" />
            </h:panelGrid>

            <p:dataTable id="delegatiiList" var="delegatii" value="#{delegatiiListerBean.delegatiiList}" 
                         paginator="true" rows="20"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                         rowsPerPageTemplate="20,50,100"
                         >
                <p:column headerText="Nr." filterBy="#{delegatii.nr}" sortBy="#{delegatii.nr}">
                    <h:outputText value="#{delegatii.nr}" />
                </p:column>
                <p:column headerText="Data">
                    <h:outputText value="#{delegatii.data}">
                        <f:convertDateTime type="date" pattern="dd.MM.yyyy" locale="ro" timeZone="EET"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="G">
                    <h:outputText value="#{delegatii.persoanaId.grupaId.grupa}" />
                </p:column>
                <p:column headerText="S">
                    <h:outputText value="#{delegatii.persoanaId.grupaId.subgrupa}" />
                </p:column>
                <p:column headerText="Locația">
                    <h:outputText value="#{delegatii.locatiiId.nume}" />
                </p:column>
                <p:column headerText="Numele">
                    <h:outputText value="#{delegatii.persoanaId.nume}" />
                </p:column>
            </p:dataTable>
        </p:panel>
    </ui:define>

</ui:composition>
