<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"

                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content">
        <p:panel header="Editare Delegații">
            <p:dataTable var="delegatii" value="#{delegatiiListerBean.delegatiiList}" 
                         paginator="true" rows="20"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                         rowsPerPageTemplate="20,50,100"
                         editable="true"
                         >

                <p:ajax event="rowEdit" listener="#{delegatiiEditBean.onEdit}" />

                <p:column headerText="Edit" style="width:60px">  
                    <p:rowEditor />
                </p:column> 

                <p:column headerText="Nr." filterBy="#{delegatii.nr}" sortBy="#{delegatii.nr}">
                    <h:outputText value="#{delegatii.nr}" />
                </p:column>
                <p:column headerText="Data">
                    <h:outputText value="#{delegatii.data}">
                        <f:convertDateTime type="date" pattern="dd.MM.yyyy" locale="ro" timeZone="EET"/>
                    </h:outputText>
                </p:column>
                <p:column headerText="G">
                    <h:outputText value="#{delegatii.persoanaId.grupaId.grupa}" />
                </p:column>
                <p:column headerText="S">
                    <h:outputText value="#{delegatii.persoanaId.grupaId.subgrupa}" />
                </p:column>
                <p:column headerText="Locație">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{delegatii.locatiiId.nume}" />
                        </f:facet>
                        <f:facet name="input">
                            <h:selectOneMenu value="#{delegatii.locatiiId}" style="width:96%;" converter="locatiiConverter" >
                                <f:selectItems value="#{generatorBean.locatiiList}" var="locatie" itemValue="#{locatie}" itemLabel="#{locatie.nume}" />
                            </h:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="Numele" filterBy="#{delegatii.persoanaId.nume}" filterMatchMode="contains" sortBy="#{delegatii.persoanaId.nume}">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{delegatii.persoanaId.nume}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:autoComplete id="acPersoana" dropdown="true" 
                                            var="persoana"
                                            itemLabel="#{persoana.nume}"
                                            itemValue="#{persoana}"
                                            converter="persoanaConverter"
                                            value="#{delegatii.persoanaId}"
                                            completeMethod="#{persoanaAutocompleteBean.complete}"
                                            minQueryLength="2"
                                            queryDelay="1000"
                                            maxResults="10"
                                            />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
            </p:dataTable>
        </p:panel>
    </ui:define>

</ui:composition>
