<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"

                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content">
        <p:dataTable id="settingsEditorTable" var="setting" value="#{settingsBean.settingsList}" editable="true"  rendered="#{userBean.loggedIn}">
            <f:facet name="header">
                Editare Setări
            </f:facet>

            <p:ajax event="rowEdit" listener="#{settingsBean.onEdit}" />

            <p:column>
                <f:facet name="header">
                    Key
                </f:facet>
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{setting.key}" />
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{setting.key}" style="width:90%;" />
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column>
                <f:facet name="header">
                    Value
                </f:facet>
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{setting.value}" />
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{setting.value}" style="width:90%;" />
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="Edit" style="width:60px">  
                <p:rowEditor />  
            </p:column>  

        </p:dataTable>
    </ui:define>

</ui:composition>
