<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"

                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content">
        <p:panel header="Editare Persoane">
            <p:dataTable var="persoana" value="#{persoaneListerBean.persoaneList}" 
                         paginator="true" rows="20"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                         rowsPerPageTemplate="20,50,100"
                         editable="true"
                         filteredValue="#{persoaneListerBean.filteredPersoaneList}"
                         >

                <p:ajax event="rowEdit" listener="#{persoaneEditBean.onEdit}" />

                <p:column headerText="Edit" style="width:60px">  
                    <p:rowEditor />
                </p:column> 

                <p:column headerText="Numele și prenumele" filterBy="#{persoana.nume}" filterMatchMode="contains" sortBy="#{persoana.nume}" >
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{persoana.nume}" />
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{persoana.nume}" style="width:90%;" />
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column headerText="G">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{persoana.grupaId.grupa}.#{persoana.grupaId.subgrupa}" />
                        </f:facet>
                        <f:facet name="input">
                            <h:selectOneMenu value="#{persoana.grupaId}" style="width:96%;" converter="grupaConverter" >
                                <f:selectItems value="#{grupaListerBean.grupaList}" var="grupa" itemValue="#{grupa}" itemLabel="#{grupa.grupa}.#{grupa.subgrupa}" />
                            </h:selectOneMenu>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
            </p:dataTable>
        </p:panel>
    </ui:define>

</ui:composition>
