<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"

                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core">

    <ui:define name="content">
        <p:panel header="Generare Delegații">
            <p:fieldset legend="Date Globale" style="margin-top:1em;">
                <h:outputText value="Numărul: "/>
                <p:inputText value="#{generatorBean.nr}" />
                <h:outputText value="din Data: "/>
                <p:calendar value="#{generatorBean.data}" pattern="dd.MM.yyyy" id="popupButtonCal" showOn="button" />
            </p:fieldset>

            <p:fieldset legend="Grupe" style="margin-top:1em;">
                <p:dataTable id="mainGrupeDataTable" var="grupa" value="#{generatorBean.grupeTableBacker}" editable="true">
                    <p:ajax event="rowEdit" update=":contentForm:grupeSubgrupeDataTable" />
                    
                    <p:column headerText="Edit" style="width:60px">  
                        <p:rowEditor />  
                    </p:column> 
                    <p:column headerText="G" style="width:2em;">
                        <h:outputText value="#{grupa.grupa}" />
                    </p:column>

                    <p:column headerText="Destinație">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{grupa.locatie.nume}" />
                            </f:facet>
                            <f:facet name="input">
                                <h:selectOneMenu value="#{grupa.locatie}" style="width:96%;" converter="locatiiConverter" >
                                    <f:selectItems value="#{generatorBean.locatiiList}" var="locatie" itemValue="#{locatie}" itemLabel="#{locatie.nume}" />
                                </h:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Scop">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{grupa.scop.line1}" />
                            </f:facet>
                            <f:facet name="input">
                                <h:selectOneMenu value="#{grupa.scop}" style="width:96%;" converter="scopConverter" >
                                    <f:selectItems value="#{generatorBean.scopList}" var="scop" itemValue="#{scop}" itemLabel="#{scop.line1}" />
                                </h:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="De La" style="width: 16em;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{grupa.deLa}">
                                    <f:convertDateTime type="date" pattern="dd.MM.yyyy" locale="ro" timeZone="EET"/>
                                </h:outputText>
                            </f:facet>
                            <f:facet name="input">
                                <p:calendar styleClass="width5em" value="#{grupa.deLa}" pattern="dd.MM.yyyy" id="grupaDeLa" showOn="button" />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Până La" style="width: 16em;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{grupa.panaLa}">
                                    <f:convertDateTime type="date" pattern="dd.MM.yyyy" locale="ro" timeZone="EET"/>
                                </h:outputText>
                            </f:facet>
                            <f:facet name="input">
                                <p:calendar value="#{grupa.panaLa}" pattern="dd.MM.yyyy" id="grupaPanaLa" showOn="button" />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>


                </p:dataTable>
            </p:fieldset>

            <p:fieldset legend="SubGrupe"  style="margin-top:1em;">
                <p:dataTable id="grupeSubgrupeDataTable" var="grupaSubgrupa" value="#{generatorBean.subgrupeTableBacker}"
                             editable="true">

                    <p:column headerText="Edit" style="width:60px">  
                        <p:rowEditor />
                    </p:column>

                    <p:column headerText="G" style="width:2em;">
                        <h:outputText value="#{grupaSubgrupa.grupa.grupa}.#{grupaSubgrupa.grupa.subgrupa}" />
                    </p:column>
                    <p:column headerText="Destinație">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{grupaSubgrupa.locatie.nume}" />
                            </f:facet>
                            <f:facet name="input">
                                <h:selectOneMenu value="#{grupaSubgrupa.locatie}" style="width:96%;" converter="locatiiConverter" >
                                    <f:selectItems value="#{generatorBean.locatiiList}" var="locatie" itemValue="#{locatie}" itemLabel="#{locatie.nume}" />
                                </h:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Scop">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{grupaSubgrupa.scop.line1}" />
                            </f:facet>
                            <f:facet name="input">
                                <h:selectOneMenu value="#{grupaSubgrupa.scop}" style="width:96%;" converter="scopConverter" >
                                    <f:selectItems value="#{generatorBean.scopList}" var="scop" itemValue="#{scop}" itemLabel="#{scop.line1}" />
                                </h:selectOneMenu>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="De La" style="width: 16em;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{grupaSubgrupa.deLa}">
                                    <f:convertDateTime type="date" pattern="dd.MM.yyyy" locale="ro" timeZone="EET"/>
                                </h:outputText>
                            </f:facet>
                            <f:facet name="input">
                                <p:calendar styleClass="width5em" value="#{grupaSubgrupa.deLa}" pattern="dd.MM.yyyy" id="grupaSubgrupaDeLa" showOn="button" />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column headerText="Până La" style="width: 16em;">
                        <p:cellEditor>
                            <f:facet name="output">
                                <h:outputText value="#{grupaSubgrupa.panaLa}">
                                    <f:convertDateTime type="date" pattern="dd.MM.yyyy" locale="ro" timeZone="EET"/>
                                </h:outputText>
                            </f:facet>
                            <f:facet name="input">
                                <p:calendar value="#{grupaSubgrupa.panaLa}" pattern="dd.MM.yyyy" id="grupaSubgrupaPanaLa" showOn="button" />
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                </p:dataTable>

            </p:fieldset>

            <p:fieldset legend="Selecția curentă"  style="margin-top:1em;">
                <p:commandButton action="#{generatorBean.doSaveSelection}" icon="ui-icon-arrowthick-1-s" value="Preluare" style="margin:1em;" update=":contentForm:selectedGrupeDataTable" />
                <p:commandButton action="#{generatorBean.doClearSelection}" icon="ui-icon-closethick" value="Ștergere" style="margin:1em;" update=":contentForm:selectedGrupeDataTable" />
                <p:dataTable id="selectedGrupeDataTable" var="selectie" value="#{generatorBean.grupaSelection}">
                    <p:column headerText="G" style="width:2em;">
                        <h:outputText value="#{selectie.grupa.grupa}.#{selectie.grupa.subgrupa}"/>
                    </p:column>
                    <p:column headerText="Destinație">
                        <h:outputText value="#{selectie.locatie.nume}"/>
                    </p:column>
                    <p:column headerText="Scop">
                        <h:outputText value="#{selectie.scop.line1}"/>
                    </p:column>
                    <p:column headerText="De La">
                        <h:outputText value="#{selectie.deLa}" >
                            <f:convertDateTime type="date" pattern="dd.MM.yyyy" locale="ro" timeZone="EET"/>
                        </h:outputText>
                    </p:column>
                    <p:column headerText="Până La">
                        <h:outputText value="#{selectie.panaLa}">
                            <f:convertDateTime type="date" pattern="dd.MM.yyyy" locale="ro" timeZone="EET"/>
                        </h:outputText>
                    </p:column>
                </p:dataTable>
                <p:commandButton widgetVar="btGenerate" onclick="btGenerate.disable();" action="#{generatorBean.doGenerateDelegatii}" icon="ui-icon-gear" value="Generare Delegații" style="margin:1em;" oncomplete="btGenerate.enable();"/>
            </p:fieldset>
        </p:panel>
    </ui:define>

</ui:composition>
