<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"

                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content">
        <p:panel header="Generare PDF">
            <h:panelGrid id="pdfPanel" columns="2">
                <h:outputText value="De la Numărul (inclusiv): " />
                <p:inputText value="#{generatePDFBean.minNr}" />
                <h:outputText value="Până la Numărul (inclusiv): " />
                <p:inputText value="#{generatePDFBean.maxNr}" />
                <h:outputText value="Pagină verso: " />

                <p:selectOneRadio value="#{generatePDFBean.versoType}" layout="grid">
                    <f:selectItem itemLabel="Fără verso" itemValue="0" />
                    <f:selectItem itemLabel="Verso în fața paginii" itemValue="1" />
                    <f:selectItem itemLabel="Verso după pagină" itemValue="2" />
                </p:selectOneRadio>

                <p:commandButton ajax="false" action="#{generatePDFBean.downloadPDF}" value="Descarcă PDF" />
            </h:panelGrid>
        </p:panel>
    </ui:define>

</ui:composition>
