<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./WEB-INF/defaultTemplate.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns="http://www.w3.org/1999/xhtml"

                xmlns:h="http://java.sun.com/jsf/html">

    <ui:define name="content">
        <p:panel header="Import Destinații">
            <p>
                (<h:outputLink value="templates/template_destinatii.xls">
                    Machetă
                </h:outputLink>)
            </p>
            <h:form>
                <p:fileUpload id="destinatiiUploader"
                              fileUploadListener="#{importBean.handleDestinatiiUpload}"
                              mode="advanced"
                              auto="true"
                              sizeLimit="10485760"
                              allowTypes="/(\.|\/)xls$/"
                              invalidFileMessage="Tip fișier invalid. Trebuie să fie .xls (Excel 2003)"
                              invalidSizeMessage="Mărime peste 10MiB"
                              />
            </h:form>
        </p:panel>
    </ui:define>

</ui:composition>
