<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="default.css" library="css" />
        <h:outputStylesheet name="cssLayout.css" library="css" />
        <title>Delegații</title>
    </h:head>

    <h:body>
        <f:view>
            <div id="top" class="top ui-widget ui-widget-header ui-corner-all">
                <ui:include src="header.xhtml" />
            </div>
            <p:growl id="growl" showDetail="true" autoUpdate="true"/>
            <ui:include src="loginForm.xhtml" />
            <!--
            <ui:include src="passwordChange.xhtml" />
            <ui:include src="aboutDialog.xhtml" />-->


            <div id="left">
                <ui:include src="mainMenu.xhtml" />
            </div>
            <h:form id="contentForm" prependId="false" enctype="multipart/form-data">
                <div id="content" class="content">
                    <ui:insert name="content">Content</ui:insert>
                </div>

                <p:idleMonitor timeout="#{session.maxInactiveInterval * 1000 - 60000}" onidle="startIdleMonitor()" onactive="timeoutDialog.hide()"  />  

                <!--session timeout checker -->
                <p:dialog
                    id="timeoutSession"
                    header="Your session is about to expire!"
                    widgetVar="timeoutDialog"
                    showEffect="fade"
                    hideEffect="fade"
                    modal="true"
                    width="400"
                    height="110"
                    closable="false"
                    draggable="false"
                    resizable="false"  
                    appendToBody="true"
                    onHide="stopCount()"
                    onShow="doTimer()"
                    >              
                    <br/>
                    <p>
                        <span class="ui-icon ui-icon-alert" style="float:left; margin: 8px 8px 0;"></span>
                        <p:panel>You will be logged off in
                            <span id="dialog-countdown" style="font-weight:bold"></span>
                            &nbsp;seconds.
                        </p:panel>
                    </p>
                    <br/>
                    <p style="font-weight: bold;">Move your cursor to continue your session!</p>          
                </p:dialog> 
            </h:form>
            <script type="text/javascript">


                var TIME = 6;
                var countTimer=TIME;
                var processTimer;
                 var timer_is_on=0;
                var redirectPage = "#{request.contextPath}/logout";
                 
                var countDownDiv = "dialog-countdown";
                var txtCountDown = null;
                if(!txtCountDown)
                    txtCountDown = document.getElementById(countDownDiv);

         
                function startIdleMonitor(){
                    countTimer=TIME;
                    txtCountDown.innerHTML = countTimer;
                    timeoutDialog.show();
                }
                function timedCount()
                {
                    txtCountDown.innerHTML = countTimer;
                    if(countTimer == 0){
                        stopCount();
                        window.location.href = redirectPage;
                        return;
                    }
                    countTimer=countTimer-1;
                    processTimer=setTimeout("timedCount()",1000);
                }
                function doTimer()
                {
                    if (!timer_is_on){
                        timer_is_on=1;
                        timedCount();
                    }
                }
                function stopCount()
                {
                    clearTimeout(processTimer);
                    timer_is_on=0;
                }
            </script>

        </f:view>
    </h:body>

</html>
