<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <h:form id="loginForm">
        <p:panel style="margin-bottom:1em;" id="loginPanel" rendered="#{!userBean.loggedIn}">
            <h:outputText value="Nume utilizator: " />
            <p:inputText value="#{userBean.userName}" style="margin-right:1em;" />
            <h:outputText value="Parolă: " />
            <p:password value="#{userBean.password}" style="margin-right:1em;" />
            <p:commandButton action="#{userBean.doLogin}" value="Autentificare" update=":menuForm:mainMenu, :loginForm" />
        </p:panel>
    </h:form>
</ui:composition>