<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                >
    <h:form id="menuForm">
        <p:menu id="mainMenu">
            <p:submenu label="Utilizator">
                <p:menuitem value="Autentificare" icon="ui-icon-key" update=":menuForm:mainMenu, :loginForm" rendered="#{!userBean.loggedIn}" />
                <p:menuitem value="Setări" icon="ui-icon-wrench" url="editSettings.xhtml" rendered="#{userBean.loggedIn}" />
                <p:menuitem value="Ieșire" oncomplete='window.location = "index.xhtml"' action="#{userBean.doLogout}" icon="ui-icon-locked" update=":menuForm:mainMenu, :loginForm" rendered="#{userBean.loggedIn}" />
            </p:submenu>
            <p:submenu label="Delegatii" rendered="#{userBean.loggedIn}">
                <p:menuitem icon="ui-icon-refresh" value="Generare" url="generateDelegatii.xhtml" />
                <p:menuitem icon="ui-icon-print" value="PDF" url="generatePDF.xhtml" />
                <p:menuitem icon="ui-icon-plus" value="Adăugare" url="addDelegatii.xhtml" />
                <p:menuitem icon="ui-icon-document-b" value="Editare" url="editDelegatii.xhtml" />
                <p:menuitem icon="ui-icon-closethick" value="Ștergere" url="deleteDelegatii.xhtml" />
            </p:submenu>
            <p:submenu label="Persoane" rendered="#{userBean.loggedIn}">
                <p:menuitem value="Import" icon="ui-icon-folder-open" url="importPersoane.xhtml" />
                <p:menuitem value="Adăugare" />
                <p:menuitem icon="ui-icon-document-b" value="Editare" url="editPersoane.xhtml"  />
                <p:menuitem value="Ștergere" />
            </p:submenu>
            <p:submenu label="Destinații" rendered="#{userBean.loggedIn}">
                <p:menuitem value="Import" icon="ui-icon-folder-open" url="importDestinatii.xhtml"/>
                <p:menuitem value="Adăugare" />
                <p:menuitem value="Editare" />
                <p:menuitem value="Ștergere" />
            </p:submenu>
            <p:submenu label="Scop" rendered="#{userBean.loggedIn}">
                <p:menuitem value="Import" icon="ui-icon-folder-open" url="importScop.xhtml" />
                <p:menuitem value="Adăugare" />
                <p:menuitem value="Editare" />
                <p:menuitem value="Ștergere" />
            </p:submenu>
        </p:menu>
    </h:form>
</ui:composition>
